*.pyc
/nbproject

/tests/lightTests/*
!*.txt
/tests/darkTests/*
!*.txt
/public/darkDemos/*
!*.txt
/public/lightDemos/*
!*.txt
/tests/source/mypkg.py
/tests/source/screenshoter.py

/*.pyc

/*.png

node_modules/*

/*.log
